.home-container {
    background-image: url("../../../public/gym-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--clr-neutral-100);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
}

.home-exercises {
    color: var(--clr-neutral-100);
    font-size: var(--fs-x-large);
    font-weight: var(--fw-bold);
    text-shadow: 2px 2px 5px var(--clr-neutral-400);
}

.home-exercises-container {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
}